body {
  margin: 0;
font-family: 'Oswald' !important;
/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap'); */
/* background-color: rgb(0, 0, 0) !important; */
}

#root {
  overflow-x: hidden !important;
}