.res_box {

  border: 2px solid #FF7E03;
  min-width: 40px;
  height: 30px;
  padding: 30px;
}

button:disabled,
button[disabled] {
  color: black !important;
  font-weight: 500;
  border: 1px solid #FF7E03 !important;
  /* border */
}
.single_box {
  font-size: 2rem !important;
  font-weight: 600;
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}

.main_btn_box {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}




/* media queries */
@media (min-width: 300px) and (max-width: 500px) {

  body {
    overflow-x: hidden !important;
  }
  .single_box{
    font-size: 1.2rem !important;
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
  }
}
