.vjs-matrix .vjs-big-play-button {
  border-color: #00ff00;
}

.video-js .vjs-big-play-button {
  border: 1px solid #FF7E03 !important;
  margin-left: 44%;
  margin-top: 18%;
}

.video-js.vjs-fluid:not(.vjs-audio-only-mode) {
  margin-top: 10rem;
  margin-bottom: 6rem;
}
video[poster] {
  object-fit: fill;
}

.video-js {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
}

.marquee_div {
  position: relative;
  top: -10rem;
}

.VIDEO_COMP_PARENT {
  position: relative;
}

.marquee_line {

  /* background-color: white; */
  z-index: 9999 !important;
  color: white;
  font-weight: bold;
  width: 100vw;
  font-size: 1.3rem;
  letter-spacing: .05rem;
  word-spacing: .2rem;
  opacity: .7;
}

.vid_live_logo {
  width: 8rem;
  margin: 0;
  position: absolute;
  top: 5.5rem;
  left: 2rem;
  z-index: 999 !important;
}

.live_clock {
  position: relative;
  top: 5rem;
  float: right;
  color: white;
  z-index: 999 !important;
  margin-right: 4rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background-color: black;
  border: 3px solid #FF7E03;
  border-radius: 7px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;


}